@import url('https://fonts.googleapis.com/css?family=Great+Vibes&display=swap');
.welcome-image {
    height: 100vh;
    position: relative;
}

#background-img {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

@media (min-width: 768px) {
    .welcome-image {
    }
}

.welcome-message-container {
    height: 100%;
}

.welcome-message {
    font-family: 'Great Vibes', cursive;
    color: white;
    text-align: center;
    vertical-align: middle;
    margin: auto;
}

.welcome-message h1 {
    font-size: 5em;
}