.image-button {
    position: absolute;
    top: 0;
    width: 15%;
    height: 100%;
    font-size: 1em;
    color: white;
    display: block;
    cursor: pointer;
}

.image-button h1 {
    display:inline-block;
    position: absolute;
    top: 50%;
    margin: auto;
}

.left-button h1 {
    left: 15%;
}

.right-button h1 {
    right: 15%;
}

.left-button {
    left: 0;
}

.left-button:hover {
    background-image: linear-gradient(to left, rgba(0,0,0,0), rgba(0,0,0,1));
}

.right-button {
    right: 0;
}

.right-button:hover {
    background-image: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,1));
}

.img-container {
    position: relative;
    padding: 0;
}

.img-container img {
    cursor: pointer;
}
