<app-foldable-hero [heroContents]="welcomeHero">
</app-foldable-hero>
<app-foldable-hero [heroContents]="venueHero">
    <div class="row">
        <div class="col-4">
            <a class="font-weight-bold">Address: </a>
        </div>
        <div class="col">
            <a href="https://goo.gl/maps/DqWFNQGsvZLr2sNHA" target="_blank">3712 NW Sandpiper Dr</a>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col-4">
            <a class="font-weight-bold">Venue Type: </a>
        </div>
        <div class="col">
            Outdoor space with grass and asphalt.
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col">
            <a class="font-weight-bold">Venue description: </a>
            The home is located on the Lewis River. The property is lovingly cared for by Mary and Scott Grout, who have owned the home since 2007. It is the perfect location to enjoy the outdoors. 
        </div>
    </div>
</app-foldable-hero>