<app-foldable-hero [heroContents]="accomadationHero">
    <div class="row">
        <div class="col-4">
            <a class="font-weight-bold">Address: </a>
        </div>
        <div class="col">
            <a href="https://goo.gl/maps/DqWFNQGsvZLr2sNHA" target="_blank">3712 NW Sandpiper Dr</a>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col-4">
            <a class="font-weight-bold">Venue Type: </a>
        </div>
        <div class="col">
            Outdoor space with grass and asphalt.
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col">
            <a class="font-weight-bold">Venue description: </a>
            The home is located on the Lewis River. The property is lovingly cared for by Mary and Scott Grout, who have owned the home since 2007. It is the perfect location to enjoy the outdoors. 
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col">
            <a class="font-weight-bold">What to wear: </a>
            Dressy casual. Khaki shorts or pants, dresses, button up shirt, Summer dresses will all be fine
        </div>
    </div>
</app-foldable-hero>
<app-foldable-hero [heroContents]="venueHero">
    <div class="row">
        <div class="col-4">
            <a class="font-weight-bold">Address: </a>
        </div>
        <div class="col">
            <a href="https://goo.gl/maps/DqWFNQGsvZLr2sNHA" target="_blank">3712 NW Sandpiper Dr</a>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col-4">
            <a class="font-weight-bold">Venue Type: </a>
        </div>
        <div class="col">
            Outdoor space with grass and asphalt.
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col">
            <a class="font-weight-bold">Venue description: </a>
            The home is located on the Lewis River. The property is lovingly cared for by Mary and Scott Grout, who have owned the home since 2007. It is the perfect location to enjoy the outdoors. 
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col">
            <a class="font-weight-bold">What to wear: </a>
            Dressy casual. Khaki shorts or pants, dresses, button up shirt, Summer dresses will all be fine
        </div>
    </div>
</app-foldable-hero>
<app-foldable-hero [heroContents]="registryHero">
    <div class="row">
        <div class="col text-center">
            <a class="font-weight-bold" href="https://www.amazon.com/wedding/haley-carlson-nicholas-grout-woodland-july-2020/registry/9JPUELLGH638">Amazon Registry</a>
        </div>
        <div class="col text-center">
            <a class="font-weight-bold" href="https://venmo.com/Nick-Grout-2">Venmo Link</a>
        </div>
    </div>
    <hr class="my-2">
    <div class="row">
        <div class="col">
            <img class="thumbnail-img" src="assets/images/venmo-info.png" alt="venmo info">
        </div>

    </div>
</app-foldable-hero>
