<app-foldable-hero [heroContents]="accomodationHero">
  <div>
    <h5>Lewis River Inn</h5>
  </div>
  <div class="row">
    <div class="col-4">
      <a class="font-weight-bold">Address</a>
    </div>
    <div class="col">
      <a>1100 Lewis River Rd, Woodland, WA 98674</a>
    </div>
  </div>
  <div class="row ml-auto">
    <div class="col">
      <div class="row">
        <a class="font-weight-bold">Description</a>
      </div>
      <div class="row">
        <a>First choice for accomadations. Very close to the venue. We recommend you call the hotel and say you are with
          the Carlson-Grout wedding and you will get a 10% discount. (If we can get more than 10 rooms booked, the
          discount will go up to 15%!). King rooms with a river view $134.99, Double queen rooms $116.99, Single queen
          $107.99. Must book before May 19, 2020, to get discount. </a>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div>
    <h5><a
        href="https://www.bestwestern.com/en_US/book/hotels-in-woodland/best-western-woodland-inn/propertyCode.48181.html"
        target="_blank">Best Western</a></h5>
  </div>
  <div class="row">
    <div class="col-4">
      <a class="font-weight-bold">Address</a>
    </div>
    <div class="col">
      <a>1380 Atlantic Ave, Woodland, WA 98674</a>
    </div>
  </div>
  <div class="row ml-auto">
    <div class="col">
      <div class="row">
        <a class="font-weight-bold">Description</a>
      </div>
      <div class="row">
        <a>In a more industrial area, but it's rather new, clean, comfortable, conveniently located, has an indoor
          swimming pool, and includes breakfast. Limited number of Double queen rooms available at the discounted rate
          of $169.99 if you specify you are with the Carlson-Grout wedding. Must book before June 3, 2020, to get
          discount.</a>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div>
    <h5><a href="https://staymapleridgehouse.com/" target="_blank">Maple Ridge Bed and Breakfast</a></h5>
  </div>
  <div class="row">
    <div class="col-4">
      <a class="font-weight-bold">Phone Number</a>
    </div>
    <div class="col">
      <a>360-991-8261</a>
    </div>
  </div>
  <div class="row ml-auto">
    <div class="col">
      <div class="row">
        <a class="font-weight-bold">Description</a>
      </div>
      <div class="row">
        <a>Gorgeous house about a 5 minute drive from the wedding venue.
          2 bedrooms, 1 bath, more details on the website. Call Tim if you'd like to book and tell him Mary sent
          you.</a>
      </div>
    </div>
  </div>
  <hr class="my-2">
  <div>
    <h5><a href="https://www.choicehotels.com/washington/woodland/rodeway-inn-hotels/wa144?source=gyxt"
        target="_blank">Rodeway Inn</a></h5>
  </div>
  <div class="row">
    <div class="col-4">
      <a class="font-weight-bold">Address</a>
    </div>
    <div class="col">
      <a>1500 Atlantic Ave., Woodland, WA 98674</a>
    </div>
  </div>
  <div class="row ml-auto">
    <div class="col">
      <div class="row">
        <a class="font-weight-bold">Description</a>
      </div>
      <div class="row">
        <a>Rooms $75, breakfast included, very conveniently located. It's inexpensive but the rooms are small and the
          hotel is a little tired and worn. The owner, Sunita, is very friendly and accommodating. No discount given so
          no need to specify you are with the Carlson-Grout wedding.</a>
      </div>
    </div>
  </div>
</app-foldable-hero>
<app-foldable-hero [heroContents]="registryHero">
  <div class="row">
    <div class="col-sm text-left">
      <p>
        We are registered for gifts at
        <a class="font-weight-bold"
          href="https://www.amazon.com/wedding/haley-carlson-nicholas-grout-woodland-july-2020/registry/9JPUELLGH638"
          target="_blank">Amazon.</a>
      </p>
      <hr class="my-2">
      <p>However we are hoping to buy a house soon, so we encourage cash gifts. Options for cash gifts are:</p>
      <ul>
        <li>
          The app <a class="font-weight-bold" href="https://venmo.com/Nick-Grout-2" target="_blank">Venmo
            (Nick-Grout-2)</a>
        </li>
        <li>
          Mailed check (Sent to <b>3712 NW Sandpiper Dr. Wooland, WA 98674</b>)
        </li>
        <li>
          Check brought to the wedding and put in cardbox.
        </li>
      </ul>
    </div>
    <div class="col-sm">
      <a class="font-weight-bold" href="https://venmo.com/Nick-Grout-2" target="_blank">
        <img class="thumbnail-img" src="assets/images/venmo-info.png" alt="venmo info">
      </a>
    </div>
  </div>
</app-foldable-hero>
<app-foldable-hero [heroContents]="venueHero">
  <div class="row">
    <div class="col">   
      <a class="font-weight-bold">Address: </a>
      <a href="https://goo.gl/maps/DqWFNQGsvZLr2sNHA" target="_blank">3712 NW Sandpiper Dr. Woodland, WA 98674</a>
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col">
      <a class="font-weight-bold">Venue Type: </a>
      Outdoor space with grass and asphalt.
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col">
      <a class="font-weight-bold">Venue description: </a>
      The home is located on the Lewis River. The property is lovingly cared for by Mary and Scott Grout, who have owned
      the home since 2007. It is the perfect location to enjoy the outdoors.
    </div>
  </div>
  <hr class="my-2">
  <div class="row">
    <div class="col">
      <a class="font-weight-bold">What to wear: </a>
      Dressy casual. Khaki shorts or pants, dresses, button up shirt, Summer dresses will all be fine.
    </div>
  </div>
</app-foldable-hero>
