<app-welcome-hero>
</app-welcome-hero>
<div class="content">
  <div class="container">
    <div class="my-2 text-center">
      ☝️Photo provided by <a href="https://www.victoriacarlsonphotography.com/" target="_blank">Victoria Carlson Photography</a>
    </div>
    <app-hero-list></app-hero-list>
    <div class="row">
      <div class="col">
        <app-image-viewer [imageSrcs]="imageSrcs"></app-image-viewer>
      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
<router-outlet></router-outlet>
