@import "../../styles.scss";

.foldable-hero {
    overflow: hidden;
    background: $background-secondary;
    padding: 1em 2em 1em 2em;
    cursor: pointer;
    border-radius: 5px;
}

.foldable-hero h2 {
    margin: 0;
    font-size: 1.5em;
}
