
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$website-primary: mat-palette($mat-indigo);
$website-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$website-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$website-theme: mat-light-theme($website-primary, $website-accent, $website-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($website-theme);


$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #343a40;

$background-primary: rgba(219,219,219,.2);
$background-secondary: #fff;

// Theme overrides
$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "success": $color-success,
    "info": $color-info,
    "warning": $color-warning,
    "danger": $color-danger,
    "light": $color-light,
    "dark": $color-dark,
);
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $background-primary;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
