
$color-primary: #007bff;
$color-secondary: #6c757d;
$color-success: #28a745;
$color-info: #17a2b8;
$color-warning: #ffc107;
$color-danger: #dc3545;
$color-light: #f8f9fa;
$color-dark: #343a40;

$background-primary: rgba(219,219,219,.2);
$background-secondary: #fff;

// Theme overrides
$theme-colors: (
    "primary": $color-primary,
    "secondary": $color-secondary,
    "success": $color-success,
    "info": $color-info,
    "warning": $color-warning,
    "danger": $color-danger,
    "light": $color-light,
    "dark": $color-dark,
);
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: $background-primary;
}

